html {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(244,168,200);
    background: -moz-linear-gradient(90deg, rgba(244,168,200,1) 0%, rgba(0,109,246,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(244,168,200,1) 0%, rgba(0,109,246,1) 100%);
    background: linear-gradient(90deg, rgba(244,168,200,1) 0%, rgba(0,109,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4a8c8",endColorstr="#006df6",GradientType=1);
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h2 {
    color: cornflowerblue;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
  }

.container {
    background: #fff;
    border-radius: 10px;
    width: 600px;
}
form{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
hr {
    text-align: center;
    width: 80px;
    background: #000;
}
button{
    margin-left: 210px;
    margin-right:200px;
    font-family: 'Poppins', sans-serif;
}
label{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
select{
    font-family: 'Poppins', sans-serif;
    font-size: 15px
}

